.bg-blue{
  background-color: #143788;
  color:white;
}
.gradient-custom-2 {
  /* fallback for old browsers */
  background: #fccb90;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to right,
    #ee7724,
    #d8363a,
    #dd3675,
    #b44593
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}

@media (min-width: 768px) {
  .gradient-form {
    height: 100vh !important;
  }
}
@media (min-width: 769px) {
  .gradient-custom-2 {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
  }
}
.card-right{
  position: relative;
  overflow: hidden;
}
.card-right > .card-title-right{
  position: absolute;
  right: 0;
  top: 0;
  background-color: rgb(20, 55, 136,0.8);
  color: white;
  width: 50%;
  height: 100%;
  padding: 12px;
  display: block;
}
.card-title-right > *{
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: bold;
}
.card-desc > *{
  margin-top: 2px;
  margin-bottom: 2px;
}
.margin-5 > *{
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  font-weight: bold;
}
i{
  margin-right: 5px;
}
.card-right > img{
  width: 100%;
  object-fit: cover;
  position: relative;
  height: 100%;
}
body {
  background-color: whitesmoke;
}
.navbar {
    background-color: #143788;
}
.nav-item {
  font-size: 15px;
}
.nav-item a {
  color: white;
}

.nav-item a:hover {
  color: cyan;
}

.container {
  display: flex;
  justify-content: space-between;
}

.main-left {
  flex-basis: 55%;
}

.main-left .imgs {
  background-position: center;
  background-size: cover;
  height: 500px;
  width: 100%;
  margin-top: 30px;
}

.main-right {
  flex-basis: 40%;
}
